# ─── Single-node ───
DATABASE_URL_PG="postgresql://bench:bench@localhost:5432/prismabench"
DATABASE_URL_MONGO="mongodb://bench:bench@localhost:27017/prismabench?authSource=admin"
DATABASE_URL_COCKROACH="postgresql://root@localhost:26257/prismabench?sslmode=disable"

# ─── Cluster mode (3-node) ───
DATABASE_URL_PG_CLUSTER="postgresql://bench:bench@localhost:5436/prismabench"
DATABASE_URL_MONGO_CLUSTER="mongodb://bench:bench@localhost:27018,localhost:27019,localhost:27020/prismabench?replicaSet=rs0&authSource=admin"
DATABASE_URL_COCKROACH_CLUSTER="postgresql://root@localhost:26258,localhost:26259,localhost:26260/prismabench?sslmode=disable"
