DATABASE_URL_PG="postgresql://bench:bench@localhost:5432/prismabench"
DATABASE_URL_MONGO="mongodb://bench:bench@localhost:27017/prismabench?authSource=admin"
DATABASE_URL_COCKROACH="postgresql://root@localhost:26257/prismabench?sslmode=disable"
